.station-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Station {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 550px;
  height: 240px;
  padding: 10px;
  border: 1px solid black;
}

.Image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-right: 10px;
}

.Image-container img {
  object-fit: contain;
}

.Audio-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: white;
  padding: 5px;
  opacity: 0.9;
  border: 1px solid black;
}

/* .Channel-info {
  display: flex;
  flex-direction: column;
}

.Player {
  display: flex;
  flex-direction: column;
} */
